#sp-header #header-top #sp-top2 .socials li a{ color:#fe0000!important; }
#sp-footer {
    background: #fe0000;

}
.sp-copyright{
  color:#FFF;
}
#reviews .form-group {
    margin-bottom: 15px;
    padding-bottom: 45px!important;
    clear: both!important;
}
#review-title{
  clear: both!important;
}
.sp-megamenu-parent {
    float: right !important;
}
.product-info .product-cart .eshop-quantity .item:first-child{
  line-height: 15px;
  font-size: 16px;
  font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:nth-child(3){
  line-height: 15px;
  font-size: 18px;
  font-weight: bold;
}
#sp-bottom2{
  padding-left: 90px;
}

#eshop-cart .eshop-content{ padding-left:15px; padding-right:15px; padding-top:15px;}
#sp-bottom .sp-module ul > li {
    display: block;
    margin-bottom: 3px;
}
#sp-bottom .sp-module .sp-module-title {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 10px;
}
.menu a:hover,.about-us a:hover{color:#fe0000!important;}
.about-us a{
  color:#fe0000!important;
  font-weight: bold;
}

#eshop_result {
    background-color: #ffffff;
    width: 450px!important;
    position: absolute;
    margin-left: 15px;
    z-index: 9999;
}
#sppb-addon-1570396380086 .sppb-addon-title{
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #e6462f 3px;
    color: #e6462f;
}
#sp-footer a, #sp-bottom a {
    color: #111;
}
.latestnews a{
  color: #111;
}

.product-info h1 {
  color: #333;
}
.product-info .product-cart #add-to-cart{
    color: #fff;
    background-color: #fe0000;
    border-color: #b52b1a !important;
    text-transform: capitalize;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 6px;
}
#products-list-container .pagination .page-item.active .page-link ,#products-list-container .pagination .page-link:hover {
    border-color: orange;
    background-color: orange!important;
    color: #fff;
}

.moduletable.__category .eshop-category ul li a::after {
    top: 5px;
}
.moduletable.__category .eshop-category ul li a {
    font-weight: normal;
    font-size: 14px;
    padding: 2px 10px;
}
.moduletable.__category .eshop-category ul li ul li{
    padding: 0 10px;
}
.moduletable.__category .eshop-category ul li ul.sub-cate{
    padding: 7px 0;
}
.moduletable.__category .eshop-category ul li ul ul.sub-sub-cate{ visibility: hidden;  padding: 7px 0;}
.moduletable.__category .eshop-category ul li ul li:hover ul.sub-sub-cate{ visibility: visible;}
.moduletable.__category .eshop-category ul li ul li a{
    line-height: normal;
    padding: 2px 0;

}

a.level_one{
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
ul.sub-cate li a {
  font-size: 15px!important;
}
.commit i{ float:left; font-size:20px; }
.commit *{ color:green; }
.commit p{ padding-left:10px; float: left;}
.commit div{ clear:both; }

.short_desc{
    max-height: 157px;
    overflow: hidden;
}
.checkout-login{
  padding-top:10px!important;
  padding-bottom:10px!important;
}

.list-product .eshop_product{    min-height: 457px;}
.reset-complete form {
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.btn-reset{
  border-color: #edac00!important;
  color: #edac00!important;
  background-color: white!important;
  background: transparent none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

.btn-reset:hover{
  border-color: #edac00!important;
  color: #000000!important;
  background-color: #edac00!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

#user-registration .btn-warning{
  border-color: #edac00!important;
  color: #edac00!important;
  background-color: white!important;
  background: transparent none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

#user-registration .btn-warning:hover{
  border-color: #edac00!important;
  color: #000000!important;
  background-color: #edac00!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}


.reset-confirm .btn-primary{
  border-color: #edac00!important;
  color: #edac00!important;
  background-color: white!important;
  background: transparent none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}
.reset-confirm .btn-primary:hover{
  border-color: #edac00!important;
  color: #000000!important;
  background-color: #edac00!important;
  box-shadow: none!important;
  text-shadow: none!important;
  border-radius: 5px!important;
}

.reset form {
    margin-top: 15px;
    background-color: #fff;
}

.reset-confirm form {
    margin-top: 15px;
    background-color: #fff;
}
#system-message{
  margin-top: 10px;
}
.reset .justify-content-center {
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  padding: 25px 19px 19px 19px;
}

.cart-popup .cart-info .table-responsive thead th {
    color: #555;
    font-size: 13px;
    border-bottom: 1px solid #f7f7f9;
    font-weight: 500;
    padding-top: 20px;
}
#payment-address h3{
font-size:14px;
}
#shipping-address h3{
font-size:14px;
}
.cart-info .text-right .price{color:#008644; font-weight: bold;}

/* .sclogin .dropdown-menu li:last-child {
  display:none;
} */
li.item-353{ display:none!important;}

#step-2 #shipping-address{
  display:none;
}

#manager-address{
  padding-top: 10px;
}

.order-complete .col-md-6 .text-primary{ font-size: 16px!important; font-weight: bold!important;}
.shop-invoice h3.title .text-secondary{ color:#008644; }


.__search-bar {
    padding-top: 12px;
}
#sp-header.header-sticky #header-mid .logo .logo-image {
    height: 55px !important;
    margin-top: 15px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px;
    margin-left: -25px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px;
    margin-left: -25px;
}

.slick-prev:before{
  margin-left: 5px;
}
.feature_group.group_3{display: none;}

.moduletable.__cart .cart-empty .fa {
    font-size: 6em;
    color: #e0dfe3;
}

.product-pagination{
  clear: both;
  padding-left: 20px;
}
#eshop-main-container{ background-color: #FFF; }
.__loginmobile{display: none;}

.sp-scroll-up {
    bottom: 90px;
}
.blog .article-list .article .article-body .article-header h2 a {
  color: #008644;
}

.product-info .product-cart .eshop-quantity .item:first-child {
    line-height: 27px;
    font-size: 16px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:first-child {
    width: 30px;
    height: 31px;
    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 1;

}
.product-info .product-cart .eshop-quantity .item:nth-child(3) {
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:nth-child(3){
    width: 30px;
    height: 30px;

    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 2;
}
.product-info #add-to-cart{
  margin-left: 35px;
}
#member-registration #jform_spacer-lbl strong.red{color:red;}
#member-registration span.star{color:red;}

#sp-header #header-top {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    background: #008644;
    padding: 10px 0;
}
.moduletable.__search-bar .eshop-search .input-group .btn {
    padding: 0;
    height: 38px;
    width: 50px !important;
    font-size: 20px;
    position: absolute;
    right: 0;
    box-shadow: none;
    background: #008644;
    z-index: 99;
    line-height: 38px;
    border-color: #008644;
    border-top-color: rgb(0, 134, 68);
    border-right-color: rgb(0, 134, 68);
    border-bottom-color: rgb(0, 134, 68);
    border-left-color: rgb(0, 134, 68);
    border-radius: 0 5px 5px 0;
    color: #fff;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.moduletable.__search-bar .eshop-search .input-group input {
    height: 38px !important;
    vertical-align: middle;
    color: #222;
    box-shadow: none;
    border-color: #008644;
}
.moduletable.__cart .eshop-items .right_info_cart {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    background-color: #008644;
    border-radius: 5px;
    padding: 7px 5px;
}
.moduletable.__category .eshop-category ul li a:hover {
    background: #008644;
}
a {
    color: #008644;
}
#sppb-addon-1570396380086 .sppb-addon-title {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #008644 3px;
    color: #e6462f;
}
.moduletable.__cart .eshop-items .right_info_cart .badge {
    background: #fff;
    text-shadow: none;
    color: #008644 !important;
    margin-bottom: 0;
}
#sp-footer {
    background: #008644;
}
#login-modal .row-fluid button.btn, .moduletable.__cart .eshop-content .checkout .btn-success, .customer-box__content .btn, .address-page .customer-box__content .button-delete-address, .blog .article-list .article .article-body .readmore a {
    border-color: #008644;
    color: #008644;
}

.btn-outline-danger:hover, .item-product .eshop-buttons .eshop-cart-area .btn:hover, #login-modal .row-fluid button.btn:hover, .moduletable.__cart .eshop-content .checkout .btn-success:hover, .customer-box__content .btn:hover, .address-page .customer-box__content .button-delete-address:hover, .blog .article-list .article .article-body .readmore a:hover {
    background-color: #008644;
    color: #fff;
}
.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #008644 3px;
    color: #fe0000;
}
.block-header, .cart-page h1, .order-page h1, .contact h1, #home_product .home-product-block .sppb-addon-content h3.sppb-addon-title, #home_product .home-product-block .eshop-category ul li .title_category, #sp-component .profile-edit .page-header h1, .eshop-container > h1, .eshop-container .eshop_customer h1, .article-details .article-header h1, .info_order h1, .product-info #productRelate h2 {
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    border-left: solid #008644 3px;
    color: #008644;
}
.btn-outline-danger, .item-product .eshop-buttons .eshop-cart-area .btn, #login-modal .row-fluid button.btn, .moduletable.__cart .eshop-content .checkout .btn-success, .customer-box__content .btn, .address-page .customer-box__content .button-delete-address, .blog .article-list .article .article-body .readmore a {
    border-color: #008644;
    color: #008644;
}

.btn-outline-success, .address-page .customer-box__content #button-new-address, .contact .contact-form .btn, #sp-component .login-page .login-form .btn, #sp-component .profile-edit form .box__user-content .btn, #sp-component .profile-edit form .btn-success, #confirm .btn-primary {
    border-color: #008644;
    color: #008644;
}
.btn-outline-success, .address-page .customer-box__content #button-new-address, .contact .contact-form .btn, #sp-component .login-page .login-form .btn, #sp-component .profile-edit form .box__user-content .btn, #sp-component .profile-edit form .btn-success, #confirm .btn-primary {
    border-color: #008644;
    color: #008644;
}
#sp-left .sp-module._my_account .sp-module-title {
    font-size: 14px;
    padding: 10px 5px;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    border-left: solid #008644 3px;
    color: #008644;
}
#sp-component #users-profile-core .box_profile_info h3 {
    background-color: #008644;
    color: #fff;
    padding: 5px 15px;
    margin: 0 -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}
.menu a:hover, .about-us a:hover {
    color: #008644!important;
}
#sp-component .profile-edit form .box__user-content h3 {
    background-color: #008644;
    color: #fff;
    padding: 5px 15px;
    margin: 0 -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}
input#jform_password2 {
    border-color: #008644;
}
input#jform_email2 {
    border-color: #008644;
}
.btn-outline-success:hover, .address-page .customer-box__content #button-new-address:hover, .contact .contact-form .btn:hover, #sp-component .login-page .login-form .btn:hover, #sp-component .profile-edit form .box__user-content .btn:hover, #sp-component .profile-edit form .btn-success:hover, #confirm .btn-primary:hover {
    background-color: #008644;
    color: #fff;
}
.customer-box__content {
    background-color: #fff;
    padding: 15px;
    font-size: 13px;
    border-top: solid 3px #008644;
}
.moduletable.__login .sclogin .scuser-menu .btn-group.open .dropdown-menu li a:hover {
    background: #008644;
}
.commit * {
    color: #008644;
}
.product-info .product-cart #add-to-cart {
    color: #008644;
    background-color: white;
    border-color: #b52b1a !important;

}

.product-info .product-cart #add-to-cart:hover {
    background-color: #008644;
    border-color: #02261d;
    color: white;
}
.product-info #productTabs > .nav-item a {
    padding: 10px 15px;
    margin: 0;
    display: inline-block;
    border-bottom-color: #bbb;
    background-color: #ddd;
    color: #008644;
    font-size: 13px;
    font-weight: 600;
}
.sp-scroll-up {

    background: #008644;

}
.latestnews .title a:hover {
    color: #008644;
}
.customer_location .show a:hover {
    color: green;
}
.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis {
    border-color: #008644;
    color: #008644;
}
.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis:hover {
    background: #008644;
}
.blog .article-list .article .article-body .article-header h2 a {
    color: #008644;
}
.blog .article-list .article {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #fff;
}
.blog .article-list .article:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #008644;
}


#sp-header #header-top #sp-top2 .socials li a {
    color: orange!important;
}

.btn-outline-warning, .order-page .order-list > li .order-box__footer .btn, #sp-component .registration form #bntRegis:hover {
    background: white;
}
.tabset > input:checked + label {
    color: #008644;
}
.tabset > input:checked + label {
    color: #008644;
}
.tabset > label:hover {
    color: #008644;
}
.tabset > label:hover::after, .tabset > input:focus + label::after, .tabset > input:checked + label::after {
    background: #008644;
}
.sw-theme-dots > ul.step-anchor > li.active > a::before {
    background-color: #008644;
}
.sw-theme-dots > ul.step-anchor > li.done > a::before {
    background-color: #008644;
}

.hotline-mobile-top{display: none!important;}

.sw-theme-dots > ul.step-anchor > li.done::after,.sw-theme-dots > ul.step-anchor > li.active::before{
background-color: #008644;
}


/* minhcau */

.sp-scroll-up {
    bottom: 90px;
}
.blog .article-list .article .article-body .article-header h2 a {
  color: #008644;
}

.product-info .product-cart .eshop-quantity .item:first-child {
    line-height: 27px;
    font-size: 16px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:first-child {
    width: 30px;
    height: 31px;
    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 1;

}
.product-info .product-cart .eshop-quantity .item:nth-child(3) {
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
}
.product-info .product-cart .eshop-quantity .item:nth-child(3){
    width: 30px;
    height: 30px;

    border: 1px solid #E9E9E9;
    border-left-width: 1px;
    order: 2;
}
.product-info #add-to-cart{
  margin-left: 35px;
}
#member-registration #jform_spacer-lbl strong.red{color:red;}
#member-registration span.star{color:red;}

#products-list-container .sortPagiBar {
    margin: 10px -11px;
}
.sortPagiBar form div a i{
  color:#008644;

}

#products-list-container .sortPagiBar form .btn-group .btn i{
  color:#999;
}
#products-list-container.grid .sortPagiBar .btn-group .btn i.icon-th-large {
    color: #008644;
}
#products-list-container.list .sortPagiBar .btn-group .btn i.icon-th-list {
    color: #008644;
}

#eshop-main-container h1{
  padding-top: 10px;
  padding-left: 10px;
}
#eshop-main-container .product-info h1{padding-left: 0px!important;}

#products-list .row .ajax-block-product {
    min-height: 464px;
}

.eshop-products-list .item-product img.img-responsive{
  min-height: 281px;
  min-width: 281px;
}

#productRelate .item-product img.product-item{
  min-height: 281px;
  min-width: 281px;
}

#productRelate .item-product .product-tile{
  text-align: center;
}



.item-product .eshop-product-price {
    text-align: center !important;
}
.eshop-mini-cart-info{
  overflow-y: scroll!important;
  max-height: 250px;
}
.product-info .product-options{
  width:30%;
}

.product-info .product-cart #add-to-cart{ border: 1px solid #008644!important;}


/* fix all project */
#products-list  .item-product img.product-item{
  min-height: 281px;
  min-width: 281px;
}
#products-list  .item-product .product-tile{
  text-align: center;
}


#products-list-container.list #products-list .row .ajax-block-product .item-product .eshop-product-price {
  width: 70%;
  text-align: left!important;
}

#products-list-container.list #products-list .row .ajax-block-product .item-product .product-img-wrap {
    width: 25%;
}
#products-list-container.list #products-list .row .ajax-block-product .item-product .eshop-product-desc{
  width: 70%;
}

#products-list-container.list #products-list .row .ajax-block-product .item-product .product-tile{
  font-weight: bold;
  width: 70%;
}

#products-list-container.list #products-list .row .ajax-block-product {
    min-height: 355px!important;
}
.sp-scroll-up:hover, .sp-scroll-up:active, .sp-scroll-up:focus {
    color: #fff;
    background: #008644;
}

.sp-page-builder .page-content #section-id-1577762363578 {
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
}
#sppb-addon-1577763615152 .custom .row div{
  line-height: 35px;
}
/* end fix all project */













/* end web desktop */

 /* mobile */
@media screen and (max-width: 768px){
  .list-product .eshop_product {
      min-height: auto;
  }
  #sp-header #header-mid {
    margin: 0 -15px;
    background-color: #fe0000;
  }
  .sp-copyright{
    padding-left: 10px;
    padding-right: 10px;
  }
  .table-responsive tfoot{
    display:inline-block!important;
    width:100%;
  }
  .sclogin .dropdown-menu li:last-child {
    display:block;
  }
  .sw-theme-dots>ul.step-anchor>li {
    position: relative;
    min-width: 20px;
    }
  .sw-theme-dots>ul.step-anchor>li>a:before {
    top: 5px;
    left: -29px;
  }

 /* .sw-theme-dots>ul.step-anchor>li:first-child::after {
    left: 0!important;
  }*/
  #smartwizard{
    padding-left: 5px;
  }

  .cart-info, #checkout-options, #payment-address, #payment-method, #confirm {
      padding: 0px;
  }
  .footer-cart .col-sm-6{
    width: 50%;
    float: left;
  }
  #order-complete .col-md-6 .text-primary{ font-size: 18px; font-weight: bold;}
  li.item-353{display:block!important;}
  .cart-page{
    padding-top: 10px;
  }

  #eshop_result {

      width: 270px!important;

  }
  #sp-header #header-mid .row .navbar-logo .logo{

  }
  #sp-header #header-mid .row .navbar-logo{
    top:0px;
  }
  #sp-header #header-mid .row .navbar-logo .logo .logo-image {
    height: 60px !important;
  }
  #sp-header #header-mid .row .navbar-logo{
    left:0px;
  }
  #sp-header #header-mid .row .navbar-logo .logo {
    height: 60px !important;
    margin-left: 0px;
  }
  #header-mid .navbar-logo, #header-mid .navbar-logo .logo, #header-mid .navbar-logo .logo a{
    width:100%!important;
  }
  #header-mid .navbar-logo .logo a{ text-align: center ;}
  #header-mid .navbar-logo .logo .logo-image{
    margin:auto;
  }
  .offcanvas-inner .sp-module-title{
      padding-left: 15px;
  }
  .offcanvas-inner ul.menu li a{
    text-transform: none!important;
  }
 .offcanvas-menu .offcanvas-inner .sp-module .sp-module-title{
   margin-bottom:5px;
   font-size:14px;
 }
 .offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    padding: 5px 15px 5px 15px;
  }
  .offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
  }
  .hotline-mobile .custom{
    padding-left:15px;
  }
  .offcanvas-inner li.item-313 a::before{
    content: "\f015";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }
  .offcanvas-inner li.item-356 a::before{
    content: "\f2bd";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-169 a::before{
    content: "\f05a";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-324 a::before{
    content: "\f1ea";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-354 a::before{
    content: "\f07b";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }
  .offcanvas-inner li.item-315 a::before{
    content: "\f199";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }


  .offcanvas-inner li.item-191 a::before{
    content: "\f2bd";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-192 a::before{
    content: "\f022";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }


  .offcanvas-inner li.item-304 a::before{
    content: "\f2bb";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-355 a::before{
    content: "\f08b";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  .offcanvas-inner li.item-358 a::before{
    content: "\f02c";
    font: normal normal normal 15px/1 FontAwesome;
    padding-right:10px;
  }

  #sp-header #header-top {
      display: block;
  }
  #sp-top2{display:block;}
  .hotline-top-mobile{display: none;}
  .location-text{display:none;}

  #sp-header {
    padding: 0px;
  }
  .__loginmobile{display: block;}
  #sp-header #sp-top2 .__loginmobile .sclogin-modal-links{
    display: block!important;
  }
  #offcanvas-toggler{ margin-left: 30px!important;}
  .right_info_cart{
    margin-right: 12px;
  }
  #sp-header #header-top{padding: 4px 0px 0px 0px;}
  .__loginmobile {
    float: right;
    width: 52%;
  }
  .__loginmobile a.dropdown-toggle{ color: #FFF;}
  .__loginmobile .fa-sign-out{ color: #FFF;}
  .__loginmobile .txt_logout{ color: #FFF;}
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin a.btn span{
    color: #FFF;
  }
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin a{
    color: #FFF;
  }
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin{
    float: right;
  }
  .__loginmobile{padding:0px!important;}
  #sp-header #header-top #sp-top2 .__loginmobile .sclogin {
    display: inline-block;
    margin-left: 0px;
  }

  #productRelate .list-product .eshop_product {
      min-height: 325px;
  }
  .product-info .product-cart #add-to-cart{
    padding: 10px 10px;
  }
  .product-info #add-to-cart {
    margin-left: 22px;
  }
  .product-info .product-cart .eshop-quantity .item:nth-child(2){
    width:53px !important;
  }
  .commit i {
    float: left;
    font-size: 16px;
  }
  .hotline-mobile-top{
    display: block!important;
    padding-left:10px;
  }
  #sp-header #header-mid{background-color: #FFF;}
  #offcanvas-toggler i{
    color:#008644!important;
  }
  #eshop-cart .right_info_cart{
    background-color: #FFF;
  }
  .moduletable.__cart .eshop-items .right_info_cart .fa-shopping-cart{
    color:orange!important;
  }
  .moduletable.__cart .eshop-items .right_info_cart .fa-shopping-cart {
    color: orange!important;
  }

  .moduletable.__cart .eshop-items .right_info_cart .badge {
    background: #fff;
    text-shadow: none;
    color: orange!important;
    margin-bottom: 0;
    border:1px solid orange!important;
  }
  #sp-header #header-mid {
    padding-top: 74px;
  }
  #sp-header #header-mid .row .navbar-logo .logo {
    height: 70px !important;
  }
  #sp-header #header-mid .row .navbar-logo .logo .logo-image {
    height: 70px !important;
  }

  #products-list-container .sortPagiBar {
    margin: 38px -11px;
  }
  .eshop-sub-categories-list{
    padding-top: 38px;
  }
  .product-pagination{
    padding-bottom: 10px;
  }
  .mb-subcat{
    float: left;
    width: 50%;
  }

  .eshop-categories-list .eshop-category-wrap, .eshop-sub-categories-list .eshop-category-wrap {
    margin-bottom: 5px;
  }

  .eshop-info-block {
    padding: 5px 7px 5px 7px  ;
    text-align: center;
  }
  #products-list-container{
    padding-top: 38px;
    margin-top:5px
  }

  #products-list .row .ajax-block-product {
      min-height: 340px;
  }

  .eshop-products-list .item-product img.img-responsive{
    min-height: 156px;
    min-width: 156px;
  }
  #productRelate .item-product img.product-item{
    min-height: 156px;
    min-width: 156px;
  }
  .badge {
    padding: 1px 4px 2px!important;
  }

  .eshop-mini-cart-info{
    overflow-y: scroll!important;
    max-height: 200px;
  }
  .product-info .product-options{
    width:50%;
  }

  /* fix all project */
  #products-list  .item-product img.product-item{
    min-height: 156px;
    min-width: 156px;
  }
  #products-list-container {
    padding-top: 24px;
  }

  .sp-page-builder .page-content #section-id-1575652267584{
    padding: 0px!important;
  }
  #top_slide .sppb-row-container{padding-left: 0px; padding-right: 0px;}
  #sppb-addon-1570287697253 .banneritem img{min-height: 160px;}

  .sp-page-builder .page-content #section-id-1577762363578 {
      padding: 5px 0px 5px 0px!important;
      margin: 0px 0px 0px 0px;
  }
  #section-id-1577762363578{
      padding: 5px 0px 5px 0px!important;
  }
  #sppb-addon-1577763615152 .custom .row div{
    line-height: 35px;
  }
  #section-id-1577762363578 .sppb-row .sppb-col-md-8{
    padding-left:0px!important;
    padding-right:0px!important;
  }
  #section-id-1577762363578 .sppb-row .sppb-col-md-4{
    padding-left:0px!important;
    padding-right:0px!important;
  }
  #column-id-1577762363577 img{
    width:100%;
  }
  /* end fix all project */

}
/* end mobile */
