/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
	padding: 0 15px;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.manufacturer-slide .bx-wrapper {
	position: relative;
	padding: 10px 30px;
	*zoom: 1;
}
.manufacturer-slide .bx-wrapper * {
	outline: none;
}
.manufacturer-slide .bx-wrapper .bx-controls-direction a {top:50px;}
.manufacturer-slide .bx-wrapper .bx-controls-direction a, .pos-new-product .bx-wrapper .bx-controls-direction a {
  	background-image: url(arrow-prev.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	height: 12px;
	margin-top: -16px;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 7px;
	padding: 16px;
	z-index: 5;
	opacity: 1;
}
.manufacturer-slide .bx-wrapper .bx-controls-direction .bx-next,
.pos-new-product .bx-wrapper .bx-controls-direction .bx-next { right: 0; background-image: url(arrow-next.png);}
.manufacturer-slide .bx-wrapper .bx-controls-direction .bx-prev:hover {
	background-image: url(arrow-prev-hover.png);
}
.manufacturer-slide .bx-wrapper .bx-controls-direction .bx-next:hover {
	background-image: url(arrow-next-hover.png);
}
.manufacturer-slide  .bx-wrapper .bx-controls-direction .bx-prev, .pos-new-product .bx-wrapper .bx-controls-direction .bx-prev { left:0;}
.manufacturer-slide .bx-wrapper .bx-controls-direction a:hover, .pos-new-product .bx-wrapper .bx-controls-direction a:hover { opacity: 1 }
.manufacturer-slide .bx-wrapper:hover .bx-controls-direction a, .pos-new-product .bx-wrapper:hover .bx-controls-direction a {display: block;}
.eshop_manufacturer .slide {
	text-align: center;
}
